[[extend 'layout_app.html']]
[[block page_head]]
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
[[end]]

<div class="columns is-centered">
	<div class="column is-8">
		<div class="box">
			<div class="column subtitle">	
			[[=page_title]] <span class="is-pulled-right">
			[[=back]]
			</span>		
			</div>
			<div class="center shadow p-4 mb-4 bg-white w-100">
				[[=XML(form)]]
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
    // Hide displayed paragraphs
    $("[value=Submit]").hide()
	$(".new").hide()
});
</script>